/* IPHONE 5 */
@media(min-width: 319px) and (max-width: 370px){
	.prateleira-categoria ul li {
	    width: 310px !important;
	}
}
/* IPHONE 6 */
@media(min-width: 375px) and (max-width: 410px){
	.prateleira-categoria ul li {
	    width: 370px !important;
	}
}
/* IPHONE 6S */
@media(min-width: 411px) and (max-width: 500px){
	.prateleira-categoria ul li {
	    width: 400px !important;
	}
}