/* IPHONE 5 */
@media(min-width: 319px) and (max-width: 370px){
	.prateleira-categoria ul li {
	    width: 310px !important;
	}
}
/* IPHONE 6 */
@media(min-width: 375px) and (max-width: 410px){
	.prateleira-categoria ul li {
	    width: 370px !important;
	}
}
/* IPHONE 6S */
@media(min-width: 411px) and (max-width: 500px){
	.prateleira-categoria ul li {
	    width: 400px !important;
	}
}

/* Desktop */

.ajusta-submenu ul .prateleira-categoria ul {
    padding: 0px !important;
}

/* Alterar somente na categoria queimadores */
fieldset.refino.even.cor label {
    font-size: 13px;
}

/* Página de Produtos */
.item-dimension-Cor label {
    display: block;
    width: 60px !important;
    height: 60px !important;
    font-size: 0px;
    background-size: 100%;
    float: left;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius:45px;
    border: 2px solid #efefef;
}

li.item-dimension-Cor input {
    display: none;
}
.item-dimension-Cor h3 {
    margin-bottom: 10px;
}


@media (min-width:925px){

    input#cl_first_name {
        margin: 0px !important;
    }

    input#cl_last_name {
        margin: 0px !important;
    }

    input#cl_email {
        margin: 0px !important;
    }

    fieldset div label {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }

    input#cl_home_phone {
        margin: 0px !important;
    }

    span.col100.obr h4 {
        display: none;
    }

    textarea#co_description {
        margin-top: 10px;
        height: 100px;
    }

    input#cl_phone {
        margin: 0px !important;
        width: 35%;
    }

    input#cl_email {
        width: 75.5%;
    }

    input#cl_last_name {
        width: 75.5%;
    }

    input#cl_first_name {
        width: 75.5%;
    }

    span.col100 input {
        height: 30px;
        box-sizing: border-box;
        padding-left: 10px;
    }

    input#commit {
        width: 100px;
        height: 30px;
    }
    .powr-instagram-feed.powrLoaded {
        max-width: 1225px;
        margin: 0px auto;
    }

    .iframe-insta iframe {
        border: none !important;
        width: 100% !important;
        margin: 0px auto;
        height: 247px !important;
        float: left;
    }

    .iframe-insta {
        float: left;
        width: 100% !important;
        margin-bottom: 20px;
    }

}

@media (min-width: 319px) and (max-width: 451px){
    .menu-institucional {
        border: none !important;
        width: 100% !important;
    }

    fieldset div label {
        display: block;
        margin-bottom: 10px;
    }

    .line input {
        margin: 0px !important;
        height: 30px;
    }

    input#cl_home_phone {
        margin-bottom: 18px !important;
        width: 100%;
    }

    form#co_form {
        width: 100% !important;
    }

    .acordiao {
        width: 100% !important;
        border-top: 1px solid #ccc;
    }

    input#cl_first_name {
        width: 100%;
    }

    input#cl_last_name {
        width: 100%;
    }

    input#cl_email {
        width: 100%;
    }

    input#cl_phone {
        width: 100%;
    }

    textarea#co_description {
        width: 100% !important;
        height: 100px;
    }

    .conteudo-institucional span.col100.obr h4 {
        display: none;
    }

    .menu-institucional ul li {
        text-align: left !important;
        padding-left: 10%;
    }
    .mobile-menu > ul > li::after {
        content: ">";
        color: #fff;
        float: right;
        margin-right: 10px;
        font-family: tahoma;
    }
    .mobile-menu > ul > li.active::after {
        content: "";
    }
    .search-multiple-navigator {
        text-align: left !important;
        padding-left: 14%;
    }
    .mobile-menu > ul > li > .submenu > ul li > a {
        font-size: 14px !important;
    }
    .mobile-menu li.active {
        text-align: center;
    }
    .categoria-departamento .prateleira-categoria ul li {
        height: 444px !important;
    }

}
.conteudo-marcas-logo li:nth-child(1):hover {
    background: url("/arquivos/logo_zouk_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(2):hover {
    background: url("/arquivos/logo_brmade_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(3):hover {
    background: url("/arquivos/logo_triton_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(4):hover {
    background: url("/arquivos/logo_regal_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(5):hover {
    background: url("/arquivos/logo_Khalil-Maamoon_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(6):hover {
    background: url("/arquivos/logo_joy_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(7):hover {
    background: url("/arquivos/logo_cocoking_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
.conteudo-marcas-logo li:nth-child(8):hover {
    background: url("/arquivos/logo_brasuka_cinza_hover.png");
    transition-duration: 1s;
    transform: scale(1.1);
}
a.powered_by {
    display: none !important;
}
.iframe-insta iframe.websta-widgets {
    width: 100% !important;
    border: none !important;
    margin: 0px auto !important;
    height: 100% !important;
    padding: 0px !important;
}
.iframe-insta {
    margin-top: 20px;
}
.powered_by {
    display: none !important;
}
@media(min-width: 900px){
    .search-multiple-navigator label {
        width: 100% !important;
    }
}
.categoria-departamento ul.productClusterSearchableIds .last a {
    background: #ff1c21;
    border-radius: 5px;
    padding: 1px 5px;
    color: #fff;
}
.busca-category ul.productClusterSearchableIds .last a {
    background: #000;
    border-radius: 5px;
    padding: 1px 5px;
    color: #fff;
}
ul.acessorios-cat li {
    color: #086893;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media (min-width: 880px){
    .preco-parcelado em.installment {
        display: block !important;
    }
    .preco-parcelado{
        display: block !important;
    }
}

/* final botão comprar */
li .qtd {
    display: none !important;
}
a.bt-escolher {
    display: none !important;
}
li a.add-cart {
    font-size: 0px;
    float: left !important;
    margin-left: 33% !important;
    cursor: pointer;
}
.gt-ext-modal {
    background: #000;
    z-index: 9999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.75;
}
.int-modal.jn-comprar {
    position: fixed;
    z-index: 9999999999;
    background: #fff;
    left: 25%;
    top: 20%;
    width: 680px;
}
.img_prod {
    float: left;
    padding: 30px;
}
span.Mini-tick {
    display: block;
    width: 25px;
    height: 23px;
    background: url(/arquivos/tick-laranja.jpg);
    margin: 15px auto 20px auto;
}
.mensagem_sucesso {
    float: left;
    width: 55%;
}
.mensagem_sucesso p {
    text-align: center;
    font-size: 20px;
}
.mensagem_sucesso p strong {
    font-weight: bold;
}
.nome_prod {
    float: left;
    width: 60%;
    margin-top: 25px;
    text-transform: uppercase;
}

.botoes {
    float: left;
    margin-top: 54px;
    margin-left: 0px;
    margin-bottom: 50px;
}

a.finalizar {
    background: #f8941f;
    text-decoration: none;
    color: #fff;
    padding: 2px 18px;
    border-radius: 10px;
}

a.close-modal {
    background: #009fda;
    padding: 2px 15px;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

a.finalizar::before {content: "";background: url('/arquivos/bandeira-tc.jpg');width: 20px;height: 20px;display: inline-block;padding-right: 10px;background-repeat: no-repeat;margin-top: 0px;position: relative;top: 1px;}
.comprar-prateleira {
    margin-top: 22px;
}