/* IPHONE 5 */
@media(min-width: 319px) and (max-width: 370px){
	.prateleira-categoria ul li {
	    width: 310px !important;
	}
}
/* IPHONE 6 */
@media(min-width: 375px) and (max-width: 410px){
	.prateleira-categoria ul li {
	    width: 370px !important;
	}
}
/* IPHONE 6S */
@media(min-width: 411px) and (max-width: 500px){
	.prateleira-categoria ul li {
	    width: 400px !important;
	}
}

/* Desktop */

.ajusta-submenu ul .prateleira-categoria ul {
    padding: 0px !important;
}

/* Alterar somente na categoria queimadores */
fieldset.refino.even.cor label {
    font-size: 13px;
}

/* Página de Produtos */
.item-dimension-Cor label {
    display: block;
    width: 60px !important;
    height: 60px !important;
    font-size: 0px;
    background-size: 100%;
    float: left;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius:45px;
    border: 2px solid #efefef;
}

li.item-dimension-Cor input {
    display: none;
}